{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="py-5 text-center">
    <h1>{{ request.user }}</h1>
    <img src="https://cdn.pixabay.com/photo/2022/04/07/11/45/bird-7117346_1280.jpg"
        class="rounded-full w-32 h-32 m-auto mb-5">
    <p>
        <a href="{% url 'logout' %}" class="bg-red-800 p-2 rounded-md text-white">
            Se déconnecter
        </a>
    </p>

</div>

<div id="app" class="subpixel-antialiased p-8">
    <div class="container space-y-8 text-sm mx-auto">
        <div class="space-y-5">
            <h1 class="mb-5">Mes réservations</h1>
            <div class="bg-white shadow-lg hover:shadow-xl rounded-md overflow-hidden">
                <table class="table flex table-auto w-full leading-normal text-center">
                    <thead class="uppercase text-gray-600 text-xs font-semibold bg-gray-200">
                    <tr class="hidden md:table-row">
                        <th class="text-center p-3">
                            <p>Nom du service</p>
                        </th>
                        <th class="text-center p-3">
                            <p>Descritpion</p>
                        </th>
                        <th class="text-center p-3">
                            <p>Date</p>
                        </th>
                        <th class="text-center p-3">
                            <p>Heure</p>
                        </th>
                        <th class="text-center p-3">
                            <p>Fait par</p>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="flex-1 text-gray-700 sm:flex-none">
                    {% if not bookings %}
                    <tr class="border-t first:border-t-0 flex p-1 md:p-3 md:table-row flex-col w-full flex-wrap">
                        <td class="p-1 md:p-3">
                            <p class="">Aucun résultat</p>
                        </td>
                    </tr>
                    {% else %}
                    {% for booking in bookings %}
                    {% include 'elements/booking-table.html' with booking=booking%}
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-10 m-2">
    <h2>Veuillez séléctionner un service</h2>
</div>
<div class="grid grid-cols-3 gap-20 mx-20 text-center">
    <div class="bg-white drop-shadow-lg rounded-md">
        <img src="https://cdn.pixabay.com/photo/2021/02/09/06/45/doctor-5997504_1280.jpg" class="rounded-t-md">
        <h3 class="mt-3">Réserver un practicien</h3>
        <div class="m-5">
            <a href="/account/booking" class="bg-yellow-600 p-2 rounded-md text-white">
                Practiciens
            </a>
            <p class="m-5">Prenez contact avec un praticien dans la spécialité que vous recherchez. Les consolutations peuvent être faites par visioconférence ou en présence.</p>
        </div>
    </div>
    <div class="bg-white drop-shadow-lg rounded-md">
        <img src="https://cdn.pixabay.com/photo/2016/10/18/08/52/blood-pressure-monitor-1749577_1280.jpg"
            class="rounded-t-md">
        <h3 class="mt-3">Chattez</h3>
        <div class="m-5">
            <a href="/chat/" class="bg-lime-800 p-2 rounded-md text-white">
                J'y vais en mode charo
            </a>
            <p class="m-5">Comme Wass sur Meetic</p>
        </div>
    </div>

    <div class="bg-white drop-shadow-lg rounded-md">
        <img src="https://cdn.pixabay.com/photo/2019/05/29/15/09/maps-4237764_1280.jpg" class="rounded-t-md">
        <h3 class="mt-3">Recherche par ville</h3>
        <div class="m-5">
            <a href="/account/localisation" class="bg-sky-800 p-2 rounded-md text-white">
                Lieu
            </a>
            <p class="mt-5">Prenez contact avec un praticien dans un lieu spéicifique proche de chez vous. Les consolutations peuvent être faites par visioconférence ou en présence.</p>
        </div>

    </div>

    <div class="bg-white drop-shadow-lg rounded-md mb-6">
        <img src="https://images.assetsdelivery.com/compings_v2/chagin/chagin1110/chagin111000122.jpg" class="rounded-t-md w-full">
        <h3 class="mt-3">Afficher tous les prestataires</h3>
        <div class="m-5">
            <a href="{% url 'show_all_practicien'%}" class="bg-sky-800 p-2 rounded-md text-white">
                Tous les praticiens
            </a>
            <p class="mt-5">
                Afficher tous les prestataires disponible sur l'application afin de mieux juger de la qualité de service.
            </p>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}