{% extends "base.html" %}
{% block header %} {% include "../elements/navbar.html" %} {% endblock %}

{% block title %}Connexion{% endblock title %}

{% block content %}
    <h1 class="text-center mt-5">Connexion</h1>
    <p>{{ message }}</p>
    <form method="post">
        <div class="flex justify-center">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex-col w-4/12 mt-5">
                <div class="mb-4">
                    <label for="username" class="block text-grey-darker text-sm font-bold mb-2">
                        Nom d'utilisateur
                    </label>
                    {{ form.username }}
                </div>

                <div class="mb-6">
                    <label for="password" class="block text-grey-darker text-sm font-bold mb-2">
                        Mot de passe
                    </label>
                    {{ form.password }}
                </div>

                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
                        Connexion
                    </button>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}