html {
    height: 100% !important;
}

h1,h2,h3,h4,h5,h6
{
    font-weight:bold !important;
}

h1 {
    font-size: 2em !important;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 1.17em !important;
}

h4 {
    font-size: 1em !important;
}

h5 {
    font-size: 0.83em !important;
}

h6 {
    font-size: 0.67em !important;
}

html{
    scroll-behavior: smooth !important;
}
