<tr class="border-t first:border-t-0 flex p-1 md:p-3 hover:bg-gray-100 md:table-row flex-col w-full flex-wrap">
    <td class="p-1 md:p-3">
        <label class="text-xs text-gray-500 uppercase font-semibold md:hidden">Nom du service</label>
        <p class="">{{booking.service.name}}</p>
    </td>
    <td class="p-1 md:p-3">
        <label class="text-xs text-gray-500 uppercase font-semibold md:hidden">Description</label>
        <p class="">{{booking.service.description}}</p>
    </td>
    <td class="p-1 md:p-3">
        <label class="text-xs text-gray-500 uppercase font-semibold md:hidden">Date</label>
        <p class="">{{booking.date}}</p>
    </td>
    <td class="p-1 md:p-3">
        <label class="text-xs text-gray-500 uppercase font-semibold md:hidden">Heure</label>
        <p class="">{{booking.date}}</p>
    </td>
    <td class="p-1 md:p-3">
        <label class="text-xs text-gray-500 uppercase font-semibold md:hidden">Fait par</label>
        <p class="">{{booking.user.first_name}}</p>
    </td>
    <td class="p-1 md:p-3">
        <label class="text-xs text-gray-500 uppercase font-semibold md:hidden">Rappel</label>
        <div title="Add to Calendar" class="addeventatc">
            Ajouter à son calendrier
            <span class="start">04/26/2022 08:00 AM</span>
            <span class="title">{{booking.service.name}}</span>
            <span class="description">{{booking.service.description}}</span>
            <span class="location">Location of the event</span>
        </div>
    </td>

</tr>