{% extends "base.html" %}
{% block header %} {% include "../elements/navbar.html" %} {% endblock %}

{% block title %}Inscription{% endblock title %}

{% block content %}
    <h1 class="text-center mt-5">Inscription</h1>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        <div class="flex justify-center">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex-col w-4/12 mt-5">
                <div class="mb-4">
                    <label for="username" class="block text-grey-darker text-sm font-bold mb-2">
                        Nom d'utilisateur
                    </label>
                    {{ form.username }}
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-grey-darker text-sm font-bold mb-2">
                        Adresse e-mail
                    </label>
                    {{ form.email }}
                </div>

                <div class="mb-4">
                    <label for="last_name" class="block text-grey-darker text-sm font-bold mb-2">
                        Nom
                    </label>
                    {{ form.last_name }}
                </div>

                <div class="mb-4">
                    <label for="first_name" class="block text-grey-darker text-sm font-bold mb-2">
                        Prénom
                    </label>
                    {{ form.first_name }}
                </div>

                <div class="mb-4">
                    <label for="role" class="block text-grey-darker text-sm font-bold mb-2">
                        Type d'utilisateur
                    </label>
                    {{ form.role }}
                </div>

                <div class="mb-4">
                    <label for="password1" class="block text-grey-darker text-sm font-bold mb-2">
                        Mot de passe
                    </label>
                    {{ form.password1 }}
                </div>

                <div class="mb-6">
                    <label for="password2" class="block text-grey-darker text-sm font-bold mb-2">
                        Confirmation
                    </label>
                    {{ form.password2 }}
                </div>

                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="submit">
                        S'inscrire
                    </button>
                </div>

            </div>
        </div>
        {% csrf_token %}
    </form>

{% endblock %}