{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctolib - {% block title %}Accueil{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- AddEvent script -->
    <script type="text/javascript" src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        {% block header %}{% endblock header %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>